<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- <listeners> <listener class-name="ReportUtils.RetryListener"/> </listeners> -->

	<parameter name="browsername" value="chrome" />
	<test name="Testchrome">

		<parameter name="ModuleName" value="testng" />

		<classes>
 <class name="com.bms.M11.EMR.TestNonclinicalStaffwithAllowedCheckInclinicsetupIsNotSelected"/>
  <class name="com.bms.M11.EMR.TestNonClinicalStaffWithInsuranceClassCheckBoxNotSelectedTestCase"/>
   <class name="com.bms.M11.EMR.TestNonoClinicalStafTestCases"/>
    <class name="com.bms.M11.EMR.TestSignandAttachScanDocuments"/>
     <class name="com.bms.M11.EMR.TestStudentProviderFinalizeTestCases"/>
      <class name="com.bms.M11.EMR.TestStudentProviderInInsuranceClassTestCases"/>
       <class name="com.bms.M11.EMR.TestStudentProviderwithAllowedCheckInclinicsetupIsNotSelected"/>
        <class name="com.bms.M11.EMR.TestTreatingProviderFinalize"/>
        <class name="com.bms.M11.EMR.TestTreatingProviderFinalizeWithAllowPTATofinalizeInInsuranceClassTestCases"/>
        <class name="com.bms.M11.EMR.TestNonClinicalStaffWithInSuranceClassUnCheckedAndClinicalSetupUnChecked"/>
        <class name="com.bms.M11.EMR.TestStudentWithInsuranceClassUnCheckedAndClinicalSetupUnChecked"/>
        <class name="com.bms.M11.EMR.TestTreatingProviderWithInSuranceClassUnCheckedAndClinicalSetupUnChecked"/>
       
</classes>
</test> 

	<!-- Test -->
</suite> <!-- Suite -->
